<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <!--<%= f.select :categories, options_for_select( Category.all.collect { |e| [ e.title, e ] } ), {}, :multiple => true %>-->
    <!--<% Category.all.each do |category| %>
    <div>
      <%= check_box_tag :categories, category %>
      <%= label_tag category.title -%>
    </div>
    <% end -%>-->
    <%= f.select :category_ids, options_for_select(Category.all.collect { |e| [e.title, e.id] }) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
